/* This code is for the header of the website. It is the first thing the user sees when they visit the website. It contains the logo, the navigation bar, and the search bar. */
#user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e3a022;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  width: 100%;
  
  height: 520px;

}