.new-tweet{
  height: 150px;
  width: 100%;
  border-right: none;
  border-left: none;
  border-top: none; 
}

button {
  display: flex;
  background-color: #4056a1;
  font-family: bungee, cursive;
  color: #fff;
  border: none;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
 
}
textarea{
width: 100%;
border-bottom: 5px solid;
border-right: none;
border-left: none;
border-top: none;
resize: none;
padding: 15px;
background-color: #f4f1ec;
}

.counter{
  display: flex;
  font-family: bungee, cursive;
  flex-direction: row-reverse;

}